.catalog__list--margin {
   margin-bottom: 45px;
}

.catalog--flex {
   flex-basis: 46%;
}
.catalog--color {
   color: #2a2929;
}
.price {
   position: absolute;
}
.price--position {
   position: relative;
}