.catalog__list--margin {
   margin-bottom: 45px;
}

.catalog--flex {
   flex-basis: 46%;
}
.catalog--color {
   color: #2a2929;
}
.price {
   position: absolute;
   left: 10px;
    
    bottom: 15px;;
    background-color: #05328d;
    color: white;
    @include roboto (bold);
    padding: 8px 12px;
    border-radius: 5px;
}
.price--position {
   position: relative;
}