

.sidbar-block {
   width: 23%;   
}

.sidbar__title {
   background-color: #05328d;
   padding: 12px 14px;
   display: flex;
   align-items: center;
}
.sidbar__text {
   font-size: 16px;
   @include roboto(bold);
   color: white;
   margin-left: 9px;
}
.sidbar-title__icon {
   width: 17px;
   height: 17px;
   color: white;
}
.sidbar__nav {
   margin-bottom: 49px;
}
.sidbar__list {
 border-left: 1px solid #929292;  
 border-right: 1px solid #929292;  
}
.sidbar__item {
   background: #f4f4f4;
   padding: 12px 14px;
   border-bottom: 1px solid #929292;
   transition: 300ms; 
   &:hover {
      background-color:rgba(#006cb5,.5);
      

   }
}
.sidbar__link {
   display: flex;
   align-items: center;
}
.sidbar-title__icon-caret {
   width: 12px;
   height: 18px;
   color: #6f6a6a;
}
.sidbar--color {
   color: #6f6a6a;
   font-size: 14px;
   @include roboto(light);

}