.title-block {
   border-bottom: 1px solid #929292;
   margin-bottom: 15px;
}

.title {
   color: #6f6a6a;
   font-size: 30px;
   @include roboto(bold);
}

// стилизация каталого услуг 

.catalog__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

// .catalog__desc {
//    max-width: 273px;
//    max-height: 250px;
// }
.catalog__item {
   flex: 1 1 30%;
   margin-left: 10px;
   margin-bottom: 40px;
   // max-width: 273px;
}

// .catalog__item:nth-child(3n+1){

// }
// .catalog__link {
//    max-width: 273px;
//    max-height: 250px;

// }
.catalog__pic {
   max-width: 100%;
   display: block;
   // object-fit: cover;
   margin-bottom: 15px;
   // max-width: 273px;
   // height: 250px
}

.catalog__text {
   font-size: 18px;
   color: #6f6a6a;
   @include roboto(medium);
}