.contacts-block {
   margin-bottom: 70px;
}
.contacts-block__item {
   margin-bottom: 10px;
}
.contacts-block-icons__marker,.contacts-block-icons__telephone,.contacts-block-icons__mail {
   width: 29px;
   height: 35px;
   color: #006cb5;
   margin-right: 7px;
}
.contacts-block__link {
   display: flex;
   align-items:center;
}

.contacts-block__text {
   font-size: 15px;
   color: #006cb5;
   @include roboto(medium);
   display: block;
}
.contacts-block--margin {
   margin-right: 10px;
}
.map {
   margin-bottom: 70px;
}


// стилазиции формы

.form-feedback {
   margin-bottom: 50px;
}
.form-feedback__flexcontainer{
   display: flex;
   margin: 0 -.9em;
   justify-content: space-between;
   flex-wrap: wrap;
}
.form-feedback__field {
   display: flex;
   flex-direction: column;  
   flex: 1;
   margin: .5em .9em;
}
.form-feedback__field:last-child {
   flex-basis: 100%;
}
.form-feedback__label {
   color:#7f7d7d;
   margin-bottom: 10px;
}
.form-feedback__input {
   padding: 10px 18px;
   border-color: #05328d;
   outline: none;
}
.form-feedback__textarea {
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 30px;
   border-color: #05328d;
   outline: none;  
   margin-bottom: 10px; 
}
.form-item {
   margin-top: 15px;
   margin-bottom: 21px;
}
