.footer__left,.footer__middle,.footer__middle-double,.footer__right {
   width: 25%;
   margin-right: 10px;
}
.footer__rigth:last-child{
   margin-right: none;
}

.footer__wrap {
   padding-top: 49px;
   padding-bottom: 30px;
   display: flex;
   justify-content: space-around;
   
}
.logo-dipservice {
   margin-bottom: 30px;
}
.footer__left {
   width: 33.3%;
}
.logo--footer {
   width: 82px;
   height: 69px;

}
.footer--text {
   color: white;
   font-size: 16px;
   letter-spacing: 2px;
   @include roboto(medium);
   margin-bottom: 5px;
}
.footer--text-subtitle {
   color: white;
   font-size: 10px;
}
.logo--mid {
   width: 73px;
   height: 73px;
}
.footer--text-mid {
   color: white;
   font-size: 15px;
   line-height: 1.25;
   width: 258px;
   margin-bottom: 10px;
}
.footer--text-subtitle-mid {
   color: #9a9b9b;
}
.footer-title {
   font-size:20px;
   color: white;
   @include roboto(medium);
   margin-bottom: 15px;
}
.footer-service__item {
   border-bottom: 1px solid rgba(234, 234, 234, .1);
   
  padding: 10px 0;
}
.footer-service__text {
   color: white;
   @include roboto(medium);
   font-size: 14px;
  
}
.footer-bottom__text {
   color: white;
   font-size: 10px;
}
.footer-bottom {
   padding-bottom: 15px;
   padding-top: 15px;
   background-color: #04183e;
}