.top-line {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #f4f4f4;
}

.top-line__flex-container {
   display:flex;
}
.top-line__left {
   width: 50%;
}
.top-line__left-link {
   font-size: 11px;
   color: #7f7d7d;
   @include roboto(regular);   
}
.top-line__rigth {
   display: flex;
   width: 50%;
   justify-content: flex-end;
}
.social {
   display: flex;
}
.social__item--margin {
   margin-right: 10px;
}
.social__link-fb {
   width: 18px;
   height: 26px;
   display: block;
   color: #a39f9f;

}
.social__link-instagram {
   width: 26px;
   height: 26px;
   display: block;
   color: #a39f9f;
}
.lang {
   margin-left: 15px;
}
.lang__list {
   display: flex;
   justify-content: right;
}
.lang__link {
   color: #7f7d7d;
   font-size: 11px;
   @include roboto(regular);   
}

.lang__color:hover {
   color: #e3a900;
   text-decoration: underline;
}
.lang__activ {
   color: #e3a900;
   text-decoration: underline;
}
// разметка шапки 

.header__bottom {
   padding-top: 40px;
   padding-bottom: 40px;
   background: url('/assets/img/decor/bg__page-title.png');
}

.header__bottom-flex-container {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

.logo-block {
   display: flex;
   align-items: center;   
}
.logo-text {
   margin-left: 10px;
}
.logo-text__title {
   font-size: 21px;
   @include roboto(bold);
   color: #006cb5;
   line-height: 0.82;

}
.logo-text__subtitle {
   font-size: 14px;
   @include roboto(bold);
   color: #006cb5;
  
}
.address {
   display: flex;   
}

.adress__phone {
   display: flex;
   align-items: center;
   margin-right: 20px;
}
.adress__mail {
   display: flex;
   align-items: center;
}
.log__pic {
   width: 160px;
   height: 106px;
   display: block;
}
.phone-icon {
   width: 11px;
   height: 11px;
   color: #006cb5;
   margin-right: 4px;
}
.adress__phone-text,.adress__mail-text {
   color: #4b4949;
   font-size: 12px;
   @include roboto(regular); 
}
.mail-icon {
   color: #006cb5;
   width: 14px;
   height: 13px;
   margin-right: 4px;
}

.search {
   position: relative;
   margin-top: 5px;
}
.search__input {  
   width: 466px;
   padding-top: 15px;
   padding-bottom: 15px;
   border-radius: 10px;
   padding-left: 10px;
   padding-right: 70px;
   border:2px solid #e5e7e9;
   background-color: #f4f4f4;
   outline: none;
   font-size: 12px;
   color: #7f7d7d;
}
.btn-search {
   background: transparent;
   border: none;
   outline: none;
   cursor: pointer;
   position: absolute;
   top: 50%;
   margin-top: -12px;
   right: 20px;
}
.search-icon {
   color: #a39f9f;
   width: 25px;
   height: 22px;   
}
// стилизация правого края

.basket-service {
   border: 2px solid #e5e7e9;
   display: flex;
   padding: 8px 15px;
   position: relative;
   margin-top: 20px;
}
.basket-service__text {
   display: flex;
   align-items: center;
   font-size: 14px;
   @include roboto(bold);
   color: #7f7e7e;
   border-right: 2px solid #e5e7e9;
   padding-right: 6px;
}
.basket-service__pic {
   margin-left: 6px;
}
.basket-service__icon {
   width: 51px;
   height: 39px;
   color: #05328d;
} 

.basket-service__link:before {
   content: attr(data-count);
   display: block;
   position: absolute;
   top: -19px;
   right: 16px;
   width: 25px;
   height: 25px;
   line-height: 25px;
   text-align: center;
   border-radius: 50%;
   background: #e3a900;
   color: #fff;

}