.top-line {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #f4f4f4;
}

.top-line__flex-container {
   display:flex;
}
.top-line__left {
   width: 50%;
}
.top-line__left-link {
   font-size: 11px;
   color: #7f7d7d;
   @include roboto(regular);   
}
.top-line__rigth {
   display: flex;
   width: 50%;
   justify-content: flex-end;
}
.social {
   display: flex;
}
.social__item--margin {
   margin-right: 10px;
}
.social__link-fb {
   width: 18px;
   height: 26px;
   display: block;
   color: #a39f9f;

}
.social__link-instagram {
   width: 26px;
   height: 26px;
   display: block;
   color: #a39f9f;
}
.lang {
   margin-left: 15px;
}
.lang__list {
   display: flex;
   justify-content: right;
}
.lang__link {
   color: #7f7d7d;
   font-size: 11px;
   @include roboto(regular);   
}

.lang__color:hover {
   color: #e3a900;
   text-decoration: underline;
}
.lang__activ {
   color: #e3a900;
   text-decoration: underline;
}
// разметка шапки 

.header__bottom {
   padding-top: 40px;
   padding-bottom: 40px;
   background: url('/assets/img/decor/bg__page-title.png');
}

.header__bottom-flex-container {
   display: flex;
   width: 100%;
}

.header__bottom-left {
   display: flex;
   
}

.address {
   display: flex;
}

.adress__phone {
   display: flex;
}
.adress__mail {
   display: flex;
}
.log__pic {
   width: 160px;
   height: 106px;
   display: block;
}
.phone-icon {
   width: 11px;
   height: 11px;
   color: #006cb5;
}
.adress__phone-text,.adress__mail-text {
   color: #4b4949;
   font-size: 12px;
   @include roboto(regular); 
}
.mail-icon {
   color: #006cb5;
   width: 14px;
   height: 13px;
}