.main-content__text {
   margin-bottom: 40px;
}
.main-content__text p {
   line-height: 1.82;   
}
.main-content__text img {
   float: left;
   margin-right: 10px;
   max-width: 100%;
   display: block;
}
.main-content__text ol  {
   list-style-position: inside;
}

.main-content__text ul {
   list-style-position: inside;  
   margin: 0; 
   padding: 0; 
   list-style: disc;
}

.main-content__text strong {
   font-weight: bold;
}