@media screen and (max-width: 1200px){
}
@media screen and (max-width: 992px){

  .header__bottom {
    padding-top: 20px;
    padding-bottom: 20px; 
  }


.logo-block {
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.logo {
  margin-bottom: 10px;
}
.log__pic {
  width: 143px;
  height: 94px;
  }
  .logo-text__title {
    font-size: 18px;
  }
  .logo-text__subtitle {
    font-size: 10px;
  }
.header__bottom-midlle, .header__bottom-rigth {
  align-self: center;
}
.basket-service__text {
  text-align: center;
}

// nav

.nav__animate {
  font-size: 17px;
}

// конец стилей медия
}
@media screen and (max-width: 768px){
.logo-block {
  display: none;
}

.header__bottom-midlle {
flex-grow: 1;
}

.basket-service__text {
  display: none;
}
.basket-service__pic {
  margin-left: 0;
}

// nav

// слайдер



.sidbar-block {
  display: none;
  width:0;
}
.main-content {
  width: 100%;
}
.slaider__wrapper {
  height: 250px;
}



// конец стилей медия
}




@media screen and (max-width: 600px){
.top-line {
  display: none;
}
.nav {
  display: none;
}
.sidbar-block {
  display: none;
  width:0;
}
.main-content {
  width: 100%;
}
.slaider__wrapper {
  height: 250px;
}


// контентая часть 

.title-block {
  display: flex;
  justify-content: center;
}


.catalog__list {
  flex-direction: column;
    align-content: center;
}
.catalog__item {
  margin-left: 0;
}

.catalog__text {

  display: flex;
  justify-content: center;}
  // конец стилей медия
}  

@media screen and (max-width: 375px){
//  верхнее меню
.header__bottom-rigth {
  display: none;
}
.address {
  flex-direction: column;
  align-items: center; 
}
.adress__phone {
  margin: 0;
}

//  слайдер
  .slaider__title {
    font-size: 22px;
    bottom: 45px;
    left: 15px;
}
.slaider__wrapper {
  height: 190px;
}
  // конец стилей медия
}  
