.mobile_line {
display: none;
background-color: rgba(#05328D,0.8);
padding-bottom: 10px;
padding-top: 10px;
}

.button__humberger {   
   background-color: transparent;
   border: none;
   width: 30px;
   height: 20px;
   display: none; 
   cursor: pointer;
   outline: none;
 }
 .button__line {
   display: block;
   width: 25px;
   height: 3px;
   margin: 2px 0;
   background-color: white;
 }

  

 