.nav {
   background-color: #05328d;
 
}
.nav__list {
display: flex;
justify-content: space-between;
}
.nav__item{
   display: flex;
   border-right: 1px solid  #fff;
   flex: 1 1 auto;
   justify-content: center;
   align-items: center;

}
.nav__item:first-child {
   border-left: 1px solid  #fff;
}
.nav__link {
   color: white;
   font-size: 20px;
   @include roboto(bold);
   flex: 1;
   text-align: center;
   line-height: 2.90em;
   transition: transform 0.5s;
}
.nav__link:hover {
   color: #e3a900;
   
}

.nav__animate {
   position: relative;
 }
 
 .nav__animate::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 2px;
   background-color: white;
   transform-origin: bottom right;
   transform: scaleX(0);
   transition: transform 0.5s ease;
 }
 
 .nav__animate:hover::before {
   transform-origin: bottom left;
   transform: scaleX(1);
 }
 