.new-title {
        border-bottom: 1px solid #929292;
      margin-bottom: 15px;   
      display: flex;
}
.new-title__start {
   font-size: 30px;
   color: #6f6a6a;
   @include roboto(bold);
}
.new-title__block {
   margin-left: auto;
   margin-top: auto;   
   padding-bottom: 4px;
}
.new-title__link {
   font-size:14;
   color: #e3a900;   
}
// стилизация списка новостей 
